/.github/
/.vscode/
/node_modules/
/build/
/tmp/
.idea/*
/docs/

coverage
*.log
.github

package-lock.json
/*.tgz
/tmp*
/mnt/
/package/

# ignore the .ts (source) files
*.ts
# include the .d.ts (types) files
!*.d.ts

.editorconfig
.eslintrc.js
webpack.config.js
tsconfig.json
jest.config.js
test
